html,body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
}
#matchMsg {
  width: 0px;
  height: 30px;
  transition: all 0.1s;
  background-color: #90EE90;
}

#matchMsg.highlight {
  width: 100px;
}